/*reset*/
* {
	margin: 0px;
	padding: 0px;
}
a {text-decoration: none;}
a, html, button, input, textarea {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	color: #4a4a4a;
	letter-spacing: -.5px
}
li {list-style: none}
/*reset*/

.selectbox {
  float: left;
	width: 100px;
	height: 48px;
	margin: 10px;
	padding: 0 8px;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.24);
	line-height: 48px;
}
.selectbox ul {
	border: 0;
	height: 200px;
	overflow: hidden;
	overflow-y: auto;
}
.selectbox ul a {text-align: center;}

.selectbox {
	position: relative;
}
.selectbox > a {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	background: url("../img/arrow_down.png") 95% center no-repeat;
}
.selectbox ul {
	display: none;
	position: absolute;
	top: 50px;
	right: 0;
	background: #fff;
	width: 100%;
	text-align: right;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.selectbox ul a {
	display: block;
	height: 20px;
	padding: 10px 25px;
	line-height: normal;
}

.selectbox ul a:hover {background: #f1f1f1;}





/* 슬라이더 사이즈 */
.ulWrap, .wrapper, .ulWrap img {
    width: 400px;
    height: 300px;
}

/* 고정 */
ul {margin: 0; padding: 0;}
li {list-style: none}
.wrapper {
    position: relative;
    margin: 0 auto;
}
#haeruPrev {
    position: absolute;
    left: -50px;
    top: 150px;
}
#haeruNext {
    position: absolute;
    right: -50px;
    top: 150px;
}